
.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
	text-align:center;
}

.form-signin{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 350px;
    padding: 15px;
    margin: auto;
}
.form-signin h1, h2{
    margin: 2px auto;
    font-weight: 700;
    cursor: pointer;
    color: #2f2f2faa;
    transition: 0.5s;
}
.form-signin h2 {
    color: #2f2f2faa;
}
.form-signin h2:hover{
    color: #2f2f2f44;
}
.form-signin h1:hover{
    color: #2f2f2f44;
}
.form-signin .form-control {
    padding: 10px;
    margin-top: 2px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    font-size: 16px;
}
.form-signin .button-login {
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    padding: 12px;
    cursor: pointer;
    border-radius: .3rem;
    color: #fff;
    background-color: #007bff;
    border: 1px solid transparent;
    margin-top: 20px;
    transition: 0.2s;
}
.form-signin .button-login:hover {
    background-color: #0271e7;
}